{% extends 'base.html' %}
{% block title %}<title>Password Reset Confirm</title>{% endblock  %}
{% block content %}
     <!-- ======= F.A.Q Section ======= -->
     <section id="faq" class="faq">
        <div class="container">
        <!-- Content -->
        <div id="content" class="colM">
          
            <h1>Enter new password</h1>
  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  
  <form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="oOz7YZWRItRfmIypyl4xZzrNeR0U0PC7fU98oVElJIPP5Jjp7IOcLUQ0UMNz0jqH">
    {% csrf_token %}
    <fieldset class="module aligned">
      <input class="hidden" autocomplete="username" value="razi">
      <div class="form-row field-password1">
          
          <label for="id_new_password1">New password:</label>
          <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
      </div>
      <div class="form-row field-password2">
          
          <label for="id_new_password2">Confirm password:</label>
          <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
      </div>
      <input type="submit" value="Change my password">
  </fieldset>
</form>
<br class="clear">
          </div>
          <!-- END Content -->
        </div>
      </section><!-- End F.A.Q Section -->
{% endblock %}