{% extends 'base.html' %}
{% block title %}<title>Password Reset Done</title>{% endblock  %}
{% block content %}
     <!-- ======= F.A.Q Section ======= -->
     <section id="faq" class="faq">
        <div class="container">
            <div id="content" class="colM">
          
                <h1>Password reset sent</h1>
                
                
      
      <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      
      <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
      
      
                
                <br class="clear">
              </div>

        </div>
      </section><!-- End F.A.Q Section -->
{% endblock %}
