<h3 class="sidebar-title">Categories</h3>
<div class="sidebar-item categories">
  <ul>
    {% for name,count in categories.items %}
    <li><a href="{% url 'blog:category' category_name=name %}">{{name}}<span>({{count}})</span></a></li>
    {% endfor %}
    {% comment %} <li><a href="#">Travel <span>(5)</span></a></li>
    <li><a href="#">Design <span>(22)</span></a></li>
    <li><a href="#">Creative <span>(8)</span></a></li>
    <li><a href="#">Educaion <span>(14)</span></a></li> {% endcomment %}
  </ul>
</div><!-- End sidebar categories-->
