{% load humanize %}
<h3 class="sidebar-title">Recent Posts</h3>
<div class="sidebar-item recent-posts">
    {% for post in posts %}
  <div class="post-item clearfix">
    {% for img in post.images.all %}
    <img src="{{MEDIA_URL}}{{img.post_image_name.url}}" alt="">
    {% endfor %}
    {% comment %} {{post.images.all}} {% endcomment %}
    <h4><a href="{% url 'blog:detail' pk=post.id %}">{{post.title}}</a></h4>
    <time datetime="2020-01-01">{{post.publish_date|naturaltime}}</time>
  </div>
  {% endfor %}

  {% comment %} <div class="post-item clearfix">
    <img src="{{MEDIA_URL}}images/blog/blog-recent-2.jpg" alt="">
    <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>

  <div class="post-item clearfix">
    <img src="{{MEDIA_URL}}images/blog/blog-recent-3.jpg" alt="">
    <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>

  <div class="post-item clearfix">
    <img src="{{MEDIA_URL}}images/blog/blog-recent-4.jpg" alt="">
    <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div>

  <div class="post-item clearfix">
    <img src="{{MEDIA_URL}}images/blog/blog-recent-5.jpg" alt="">
    <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
    <time datetime="2020-01-01">Jan 1, 2020</time>
  </div> {% endcomment %}

</div><!-- End sidebar recent posts-->